# Copyright © 2014-2015 Martin Ueding <dev@martin-ueding.de>

[laptops]
localhost ansible_connection=local sudo=yes
martin-exmoor.local ansible_ssh_user=mu sudo=yes

[servers]
martin-gelderland.local ansible_ssh_user=root sudo=no

[towers]
martin-welsh.local ansible_ssh_user=mu sudo=yes
martin-tinker.local ansible_ssh_user=mu sudo=yes
frederike-lusitano.local ansible_ssh_user=mu sudo=yes

[vms]
martin-connemara.local ansible_ssh_user=root sudo=no
martin-flash.local
martin-gotland.fritz.box ansible_ssh_user=root sudo=no
martin-knapstrup.local ansible_ssh_user=root sudo=no
martin-konik.local ansible_ssh_user=root sudo=no
martin-stable.local ansible_ssh_user=root sudo=no
martin-unstable.local ansible_ssh_user=root sudo=no

[mobile]
martin-criollo.fritz.box ansible_ssh_user=shell

[webserver]
df
