*** Targets ***

probe = FPing

menu = Top
title = {{ title }}
remark = {{ remark }}

{% for section, servers in sections|dictsort %}
+ {{ section }}

menu = {{ section }}
title = {{ section }}

{% for server, hostname in servers %}
++ {{ server }}

menu = {{ hostname }}
title = {{ hostname }}
host = {{ hostname }}

{% endfor %}

{% endfor %}

+ All
menu = All
title = All
host = {% for section, servers in sections|dictsort %}{% for server, hostname in servers %} /{{ section }}/{{ server }} {% endfor %}{% endfor %}
