{
    "default": {
        "ENGINE": "django.db.backends.mysql",
        "NAME": "django",
        "USER": "django",
        "PASSWORD": "{{ mysql_django_passwd }}",
        "HOST": "localhost"
    }
}
