{
    "default": {
        "ENGINE": "django.db.backends.mysql",
        "NAME": "django",
        "USER": "django",
{# FIXME Add password from variable. #}
        "PASSWORD": "",
        "HOST": "localhost"
    }
}
