# Copyright © 2014-2015 Martin Ueding <dev@martin-ueding.de>
# {{ ansible_managed }}
 
WSGIScriptAlias /shoppinglist /opt/shopping-list-site/shoppinglistsite/wsgi.py
WSGIPythonPath /opt/shopping-list-site/

<Directory /opt/shopping-list-site/shoppinglistsite/>
        <Files wsgi.py>
        Allow from all
        </Files>
</Directory>

Alias /shoppinglist/static/ /usr/share/shopping-list/static/

<Directory /usr/share/shopping-list/static/>
    Order deny,allow
    Allow from all
</Directory>

# vim: ft=apache
