#!/bin/bash
# Copyright © 2014 Martin Ueding <dev@martin-ueding.de>

# {{ ansible_managed }}

mkdir -p /extern/alpha/backup/mysql

mv /usr/backups/mysql/* /extern/alpha/backup/mysql/

rsync -avhE /var/lib/radicale/collections /extern/alpha/backup/
